@tailwind base;
@tailwind components;
@tailwind utilities;


html {

  @apply font-urbanist
}


h1{

  @apply   text-[52px]   sm:text-[64px] font-[600]

}

h2{

  @apply  text-[40px]   sm:text-[48px] font-[600]

}

h3{

  @apply text-[32px]  sm:text-[40px] font-[600]

}
h4{

  @apply text-[24px] sm:text-[36px] font-[600]

}
h5{

  @apply  text-[18px] sm:text-[32px] font-[600]

}
h6{

  @apply text-['24px'] font-[600]

}
p{

  @apply text-['16px'] font-[400]

}

.p2{

  @apply text-['18px'] font-[400]

}

.p3{

  @apply text-['20px'] font-[400]

}

.subtitle{


  @apply  font-bold uppercase text-[13px] 


}

.nav-link{

  @apply text-[16px] font-[600]

}

.btn{

  @apply text-white font-[600] bg-primary focus:ring-2 ring-primary/30 px-4 py-3 rounded-md

}
.btn-sm{

  @apply text-white font-[400] bg-primary focus:ring-2 ring-primary/30 px-2 py-1 rounded-md

}
.btn-outline{

  @apply  font-[600] border border-primary focus:ring-2 ring-primary/30 px-4 py-3 rounded-full

}
.btn-outline-saqure{

  @apply  font-[600] border border-primary focus:ring-2 ring-primary/30 px-4 py-3 rounded-md

}
.btn-outline-saqure-sm{

  @apply  font-[400] border border-primary focus:ring-2 ring-primary/30 px-2 py-1 rounded-md

}

.input{

   @apply p-4 outline-none border border-black/70 w-full rounded-md

}

.sidebar-active {


  @apply text-white !bg-primary transition-all duration-300
}



.row-shadow{
  box-shadow: 0px 0px 0px 3px rgba(0,0,0,1);
}


input[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}



.gradient-1{

  background: rgb(223,221,49);
  background: linear-gradient(25deg, rgba(223,221,49,1) 50%, rgba(63,20,204,1) 49%);
}